.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  & .item {
    display: block;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: #1d1d1d;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color .5s, border .5s;

    &:hover {
      color: #ffffff;
      background-color: #1d1d1d;
      border: 2px solid #ffffff;
    }
  }

  & .active {
    color: #ffffff;
    background-color: #1d1d1d;
    border: 2px solid #ffffff;
  }
}
