.movie-card {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #d6d5d4;
  border-radius: 5px;
  height: 100%;
  transition: box-shadow .5s, background-color .5s;

  &_poster {
    position: relative;
    height: 300px;
    overflow: hidden;

    &_selected{
      display: flex;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      justify-content: center;
      align-items: center;
      position: absolute;
      color: #ffffff;
      bottom: 0;
      height: 100%;
      opacity: 0;
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #181818ab;
      transition: opacity .75s;
    }
  }

  &_info {
    height: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 15px;

    &_text h3 {
      text-align: center;
      color: #717171;
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &_text>p {
      margin-top: 20px;
      color: #acaaaa;
      font-size: 1rem;
      line-height: 1.5;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
    }
  }

  &_meta{
    color: #717171;
    font-weight: bold;
  }

  &:hover{
    background-color: #bcbcbc0f;
  }

  &:hover &_poster_selected{
    opacity: 100%;
  }

}
